---
import BabbleBinLayout from "@layouts/BabbleBinLayout.astro";

import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const babbles = await getCollection("babble-bin");

  return babbles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BabbleBinLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <Content />
</BabbleBinLayout>

<style is:global>
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  code {
    tab-size: 4ch;
  }
</style>
