---
import BabbleBinLayout from "@layouts/BabbleBinLayout.astro";

import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const babbles = await getCollection("babble-bin");

  return babbles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BabbleBinLayout title={entry.data.title}>
  <p>{entry.data.title}</p>
  <Content />
</BabbleBinLayout>

<style>
  p {
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
