---
import BabbleBinLayout from "@layouts/BabbleBinLayout.astro";

import { getCollection } from "astro:content";

const babbles = (await getCollection("babble-bin"))
  .filter((entry) => entry.data.pubDate !== null)
  .sort((a, b) => Number(b.data.pubDate) - Number(a.data.pubDate));
---

<BabbleBinLayout title="babble bin">
  <ul>
    {
      babbles.map(({ data: { title }, slug }) => (
        <a href={`./${slug}`}>
          <li>{title}</li>
        </a>
      ))
    }
  </ul>
</BabbleBinLayout>
