---
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
import { jams } from "@data/gamedev/games-and-jams";
---

<style>
  body {
    background-color: black;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  code {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
</style>

<Layout title="gamedev - jams">
  <Back />
  <main>
    <img
      src="http://textfiles.com/underconstruction/totomwp4underconstruction.gif"
    />
    <ul>
      {
        jams.map((jam) => (
          <a href={`./${jam.slug}/`}>
            <code>
              <pre>{JSON.stringify(jam, null, 2)}</pre>
            </code>
          </a>
        ))
      }
    </ul>
  </main>
</Layout>
