node_modules
dist

src/images
public/downloads
public/sounds
public/3d
public/images
public/play
public/dl
public/files
public/for-neocities
public/phap/bot
public/josh.pem
public/.plan
public/terranova
public/aoc/.htaccess
public/aoc/2023/prelude
public/legacy-assets

src/todo

.astro
