<style>
  a {
    font-family: "QuickMoney";
    font-size: 2rem;
    background-color: #a8a29e;
    color: #1c1917;
    border: 2px outset #44403c11;
    line-height: 50%;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover {
    background-color: #1c1917;
    color: #a8a29e;
    border: 2px outset #44403c11;
  }
</style>

<a href="./gamedev/jams/ceojam-oct2023/">ceojam oct 2023</a>
