<style>
  a {
    text-decoration: none;
    text-align: center;
    color: transparent;
    font-size: 1.5rem;
    padding: 0.6rem 0;
    background: silver;
    box-shadow:
      inset -1px -1px #0a0a0a,
      inset 1px 1px #fff,
      inset -2px -2px grey,
      inset 2px 2px #dfdfdf;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    min-height: 23px;
    min-width: 75px;
    text-shadow: 0 0 #222;
    font-family: "Pixelated MS Sans Serif", Arial;
  }

  a:active {
    box-shadow:
      inset -1px -1px #fff,
      inset 1px 1px #0a0a0a,
      inset -2px -2px #dfdfdf,
      inset 2px 2px grey;
    text-shadow: 1px 1px #222;
  }

  a:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
  }
</style>

<a href="./gamedev/jams/eggjam-july2024/">🥚 eggjam july 2024 🥚</a>
