---
import quakeWall1Url from "@images/void/pit-of-ethan/quake-wall-1.gif";
---

<style>
  a {
    font-family: "DP Quake";
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.6rem 0;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px darkred;

    background-image: url("/~jaharrhy/src/images/void/pit-of-ethan/quake-wall-1.gif");
    background-repeat: repeat;
    filter: hue-rotate(45deg) brightness(1.5);
  }

  a:active,
  a:hover {
    border: 2px solid rgba(0, 0, 0, 1);
    filter: hue-rotate(90deg) brightness(2);
  }

  a:focus {
    outline: 3px dotted darkred;
  }
</style>

<a href="./gamedev/jams/gamblejam-aug2024/">GAMBLEJAM AUG 2024</a>
