<style>
  a {
    --plant: #2db83d;
    --light: #d4ffb2;
    color: var(--plant);
    text-shadow: 5px 5px 5px var(--light);
    font-size: 20px;
    color: var(--plant);
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px dashed var(--plant);

    transition: all 0.1s ease;
  }

  a:hover {
    text-shadow: 5px 5px 1px var(--light);
  }
</style>

<a href="./gamedev/jams/growthjam-feb2023/">growthjam feb 2023</a>
