<style>
  a {
    background-color: #cdc49a;
    font-family: "TT2020Style-B";
    border: 2px inset #cdc49a;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover {
    border: 2px outset #cdc49a;
  }
</style>

<a href="./gamedev/jams/gumpjam-aug2023/">gumpjam august 2023</a>
