<style>
  a {
    background-color: #dbb989;
    border: 2px inset #aa8a5b;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
  }

  a:hover {
    border: 2px outset #aa8a5b;
  }
</style>

<a href="./gamedev/jams/squidjam-jan2024/">squidjam jan 2024</a>
