---
import Layout from "@layouts/Layout.astro";
import Myself from "@components/Myself.astro";
import EsteemedColleagues from "@components/EsteemedColleagues.astro";
import Linkbox from "@components/Linkbox.astro";
import Projects from "@components/Projects.astro";
import underConstructionUrl from "@images/construction/under-construction-2.gif";
import cuppaUrl from "@images/jacks-cuppa/cuppa.png";
import muncsUrl from "@images/muncs/muncs.png";
---

<style>
	body {
		display: flex;
		background-color: #fdf2fe;
	}

	main {
		margin: 1rem auto;
		display: flex;
		flex-direction: column;
	}

	.group {
		display: flex;
		margin: 2rem;
		gap: 1.5rem;
	}

	.right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.linkbox,
	.projects,
	.colleagues {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 1.5rem;
	}

	.to {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.to p {
		margin: 0.5rem 0;
		text-align: center;
		font-size: 1.25rem;
	}

	.to-quotes {
		background-color: pink;
		color: aliceblue;
		text-decoration: none;
		text-shadow: .1rem .1rem 0 salmon;
		font-weight: 900;
		box-shadow: .25rem .25rem 0 salmon;
	}

	.to-void {
		height: 100%;
		background-color: black;
		color: limegreen;
		border: 10px inset rgba(255, 255, 255, 0.75);
	}

	.links {
		display: flex;
		justify-content: space-around;
		height: 5rem;
		padding: .25rem;
	}

	.links a {
		display: contents;
		color: black;
	}

	.link {
		display: flex;
		max-width: 12rem;
		align-items: center;
		gap: .5rem;
	}

	.links img {
		height: 100%;
	}

	.to-cuppa {
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}

	.despacito {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin: 0 0 1rem 0;
	}

	.despacito p {
		margin: 0;
	}

	.construction {
		width: 24rem;
	}

	.created-modified {
		font-style: italic;
	}
</style>

<Layout title="~jaharrhy - labnet garden">
	<main>
		<Myself />
		<div class="group">
			<div class="left">
				<div class="colleagues">
					<a href="./quotes/" class="to to-quotes">
						<p>quotes</p>
					</a>
					<EsteemedColleagues />
					<a href="./void/" class="to to-void">
						<p>enter the void</p>
					</a>
				</div>
			</div>
			<div class="right">
				<div class="linkbox">
					<Linkbox />
				</div>
				<div class="links">
					<a href="./jacks-cuppa">
						<div class="link to-cuppa">
							<img src={cuppaUrl} />
							<p>jacks cuppa</p>
						</div>
					</a>
					<a href="https://muncompsci.ca/">
						<div class="link to-muncs">
							<img src={muncsUrl} />
							<p>muncs</p>
						</div>
					</a>
				</div>
				<div class="projects">
					<Projects />
				</div>
			</div>
		</div>
		<div class="despacito">
			<img src="https://www.roblox.com/headshot-thumbnail/image?userId=8644178&width=60&height=60&format=png" />
			<p>despacito</p>
		</div>
		<img class="construction" src={underConstructionUrl} />
		<div class="created-modified">
			<h5>
				Created: April 9th, 2019
				<br>
				Last Modified: July 14th, 2022
			</h5>
		</div>
	</main>
</Layout>