---
import Back from "@components/Back.astro";
import Layout from "@layouts/Layout.astro";
---

<style>
    main {
        display: flex;
        flex-direction: column;
    }
</style>

<Layout title="resources">
    <Back />
    <header>
        <h1>resources</h1>
        TODO make pretty
        TODO link to this page
    </header>
    <main>
        <a href="./labnet-goodies/">labnet goodies</a>
        <a href="./stuff-for-sites-like-this/">stuff for sites like this</a>
    </main>
</Layout>