---
import Back from "@components/Back.astro";
import Layout from "@layouts/Layout.astro";
---

<style>
</style>

<Layout title="void">
    <Back />
    <header>
        <h1>stuff for sites like this</h1>
        TODO make page pretty
        TODO link to this page
    </header>
    <main>
        <ul>
            <li>
                <h2>tools</h2>
                <ul>
                    <li>https://ditherit.com/ - Dither it!</li>
                </ul>
            </li>
            <li>
                <h2>resources</h2>
                <ul>
                    <li>http://textfiles.com/underconstruction/ - a collection of 'under construction' images</li>
                </ul>
            </li>
        </ul>
    </main>
</Layout>