---
import Back from "@components/Back.astro";
import HardWorker from "@components/HardWorker.astro";
import Layout from "@layouts/Layout.astro";
---

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5rem;
    height: 100%;
    color: lime;
    background-color: black;
  }

  a {
    margin-bottom: 0.5rem;
    color: limegreen;
    font-size: 1.4rem;
  }

  p {
    margin: 0.35rem 0;
  }

  h1 {
    margin: 0;
  }

  .container {
    min-width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  header {
    margin: 1.5rem 0;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .focus-only {
    opacity: 0;
    pointer-events: none;
  }

  .focus-only:focus {
    opacity: 1;
  }
</style>

<Layout title="void">
  <Back />
  <div class="container">
    <header>
      <h1>vơ̵̘̖̈́id</h1>
      <p>welcome to the void̴̼̑̽</p>
      <p>there is little structure to the void</p>
      <p>but there is still void</p>
    </header>
    <main>
      <a href="./pit-of-ethan/">pit of ethan</a>
      <a href="./nit-zone/">nit zone</a>
      <a href="./TRUTH/">TRUTH</a>
      <a href="./punch-the-keys/">punch the keys</a>
      <a href="./collarbone-softtissue/">collarbone softtissue</a>
      <HardWorker />
      <a href="./code-night/" class="focus-only">CODE NIGHT</a>
    </main>
  </div>
</Layout>
