<style>
  p {
    margin: 0.2rem;
  }
</style>

<p>
  advent of code <span id="aoc-year"></span> is happening: <span
    id="aoc-happening">...</span
  >
</p>

<script>
  const aocHappening = document.getElementById("aoc-happening");
  const now = new Date();
  const currentYear = now.getFullYear();

  const aocYear = document.getElementById("aoc-year");
  aocYear.innerText = currentYear.toString();

  const aocStart = new Date(currentYear, 11, 1);
  const aocEnd = new Date(currentYear, 11, 25);

  const duringAoc = now >= aocStart && now <= aocEnd;
  const beforeAocStart = now < aocStart;
  const afterAocEnd = now > aocEnd;

  let text = "";

  if (duringAoc) {
    text = "now!";
  } else if (beforeAocStart) {
    // days until aoc
    const daysUntilAoc = Math.ceil((aocStart - now) / (1000 * 60 * 60 * 24));
    text = `in ${daysUntilAoc} days!`;
  } else if (afterAocEnd) {
    text = "again near year!";
  }

  aocHappening.innerText = text;
</script>
