<style>
  div {
    width: 12.5rem;
    margin: 1rem auto;
    padding: 0.4rem;
    background-color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    border: 2px outset rgb(145, 104, 210);
    color: black;
    text-align: center;
  }
</style>

<div class="back">
  <a href="..">↤ go back</a>, or <a href="/~jaharrhy/">return home</a>
</div>
