---
import Colleague from "./Colleague.astro";
---

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242, 243, 253);
    border: 3px dotted lavender;
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
  }

  ul {
    margin: 0.5rem 0;
    list-style-type: disclosure-closed;
  }

  h3 {
    margin: 0;
    text-align: center;
  }
</style>

<div>
  <h3>★ Esteemed Colleagues ★</h3>
  <ul>
    <Colleague name="Tim Oram" username="oram" />
    <Colleague name="Steve Parson" username="k47swp" />
    <Colleague name="Riley Flynn" username="raflynn" />
    <!-- <Colleague name="Josh Murphy" username="jmurphy17" /> -->
    <Colleague name="Ethan Crann" username="etcrann" />
    <!-- <Colleague name="Gavin Power" username="gjpower" /> -->
    <Colleague name="Andrew Stacey" username="agstacey" />
    <Colleague name="Christian Winsor" username="cpwinsor" />
    <li><a href="./void/jos/">jos</a></li>
    <Colleague name="Robert Joseph Blackmore" username="rjb005" />
    <Colleague name="Nathan MacNeil" username="nrm540" />
    <!-- <Colleague name="Katie Hardy" username="knhardy" /> -->
    <Colleague name="Mohammed Balfaqih" username="mbalfaqih" />
    <Colleague name="Daniel Power" username="djp468" />
    <Colleague name="Christian Goodridge" username="cag635" />
    <Colleague name="David Chicas" username="dchicasduena" />
    <Colleague name="Leah Murphy" username="lmurphy19" />
    <Colleague name="Mitchell Hynes" username="mshynes" />
    <Colleague name="Zach Vaters" username="zcvaters" />
    <Colleague name="Kyle Shal" username="kashal" />
    <Colleague name="amelie" username="amelierb" />
    <Colleague name="Keenan Nicholson" username="kbnicholson" />
    <Colleague name="Andrew Luther" username="agluther" />
  </ul>
</div>
