<style>
    div {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: red;
        padding: 1rem;
        background-image: linear-gradient(#f2f2f2 2.2px, transparent 2.2px), linear-gradient(90deg, #f2f2f2 2.2px, transparent 2.2px), linear-gradient(#f2f2f2 1.1px, transparent 1.1px), linear-gradient(90deg, #f2f2f2 1.1px, #ffffff 1.1px);
        background-size: 55px 55px, 55px 55px, 11px 11px, 11px 11px;
        background-position: -2.2px -2.2px, -2.2px -2.2px, -1.1px -1.1px, -1.1px -1.1px;
        border: 1px solid rgb(196, 196, 196);
    }

    h3 {
        margin: 0;
        text-align: center;
    }
</style>

<div>
    <h3>Projects</h3>
    <ul>
        <s>
            <li><a href="https://github.com/jackharrhy/muntrunk">muntrunk - broth'd banner served fresh as an api</a>
            </li>
        </s>
        <li><a href="https://github.com/jackharrhy/yamun">yaMUN - self service but dank (supersedes muntrunk)</a></li>
        <li><a href="https://github.com/jackharrhy/StackCoin">StackCoin - a discord psuedo currency</a></li>
        <li><a href="https://github.com/jackharrhy/Storefront">Storefront - whatcha buying whatcha selling</a></li>
        <li><a href="https://github.com/jackharrhy/Xavier">Xavier - a discord bot that does things</a></li>
        <li><a href="https://github.com/jackharrhy/meowj">meowj - pancake-ify json</a></li>
        <li><a href="https://github.com/jackharrhy/docker-pastebin">docker-pastebin - curl to the world</a></li>
        <li><a href="https://github.com/jackharrhy/DUaaS">DUaaS - /dev/urandom as a service</a></li>
        <li><a href="https://github.com/jackharrhy/metrobus-spy">metrobus-spy - where the bus at tho</a></li>
        <li><a href="https://github.com/jackharrhy/barab">barab - verilog is trivial</a></li>
        <li><a href="https://github.com/jackharrhy/guesbok">guesbok - guesbok</a></li>
        <li><a href="https://github.com/jackharrhy/bullet">bullet - a small vanilla html5 canvas object-avoiding
                game</a>
        </li>
    </ul>
</div>