---
import { DOMParser } from "@xmldom/xmldom";
import { select, select1 } from "xpath";

const TEALOG_RSS_FEED = "https://jackharrhy.neocities.org/tea-log/rss.xml";

const rssFeedXml = await (await fetch(TEALOG_RSS_FEED)).text();
const rssFeed = new DOMParser().parseFromString(rssFeedXml, "text/xml");

const description = select(
  "/rss/channel/description/text()",
  rssFeed
).toString();

const rawItems = select("/rss/channel/item", rssFeed);

if (!Array.isArray(rawItems)) {
  throw new Error("Expected items to be an array");
}

const items = rawItems.map((item) => {
  const title = select1("title/text()", item).toString();
  const link = select1("link/text()", item).toString();
  // @ts-ignore-next-line
  const previewGif = select1("enclosure/@url", item).value;

  return {
    title,
    link,
    previewGif,
  };
});
---

<style>
  div {
    margin: 0.5rem 0;
    font-family: monospace;
    background-color: #ffadbc;
    color: rgb(36, 36, 36);
    border: 2px inset indigo;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,
  h2,
  p,
  li,
  ul {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

  li {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: underline;
    height: 1rem;
  }
  li img {
    height: 1em;
    margin-right: 0.25rem;
  }
  li:hover {
    text-decoration: indigo underline;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    margin: 0.4rem 0;
    font-size: 0.8rem;
    font-weight: normal;
  }
</style>

<div id="tealog-root">
  <a href="https://jackharrhy.neocities.org/tea-log/">
    <h1>tea log</h1>
    <h2>{description}</h2>
  </a>
  <ul>
    {
      items.map((item) => (
        <a href={item.link}>
          <li>
            <img src={item.previewGif} />
            {item.title}
          </li>
        </a>
      ))
    }
  </ul>
</div>
