---
import AdventOfCodeLayout from "@layouts/AdventOfCodeLayout.astro";
---

<style>
  ul {
    font-size: 1.5rem;
    text-align: center;
  }
</style>

<AdventOfCodeLayout>
  <ul>
    <a href="./2022/">
      <li>[2022]</li>
    </a>
    <a href="./2023/">
      <li>[2023]</li>
    </a>
  </ul>
</AdventOfCodeLayout>
