---
import AdventOfCodeLayout from "@layouts/AdventOfCodeLayout.astro";

const days = [1, 2, 3, 4, 5];
---

<style>
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .tips {
    margin-top: 2rem;
  }
</style>

<AdventOfCodeLayout year={2022} title="advent of code 2022">
  <ul>
    {
      days.map((day) => (
        <a href={`./day${day}/`}>
          <li>[day {day}]</li>
        </a>
      ))
    }
    <a href={`./tips/`} class="tips">
      <li>[tips]</li>
    </a>
  </ul>
</AdventOfCodeLayout>
