---
import AdventOfCodeLayout from "@layouts/AdventOfCodeLayout.astro";

// writing too much elixir has affectd how i write javascript :)
const days = Object.keys(import.meta.glob("./day*.mdx")).map((fileName) =>
  Number(fileName.split(".")[1].slice(4))
);
---

<style>
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .tips {
    margin-top: 2rem;
  }

  .jack-utils {
    margin-top: 2rem;
    opacity: 0;
    pointer-events: none;
  }

  .jack-utils:focus {
    opacity: 1;
  }
</style>

<AdventOfCodeLayout year={2022} title="advent of code 2022">
  <ul>
    {
      days.map((day) => (
        <a href={`./day${day}/`}>
          <li>[day {day}]</li>
        </a>
      ))
    }
    <a href={`./fin/`}>
      <li>[fin]</li>
    </a>
    <a href={`./tips/`} class="tips">
      <li>[tips]</li>
    </a>
    <a href={`./jack-utils/`} class="jack-utils">
      <li>[jack-utils]</li>
    </a>
  </ul>
</AdventOfCodeLayout>
