---
import AdventOfCodeLayout from "@layouts/AdventOfCodeLayout.astro";
const { content } = Astro.props;
---

<style is:global>
  h2 {
    text-align: center;
  }

  pre {
    padding: 1rem;
  }

  hr {
    border: none;
    margin: 1rem 0;
  }

  hr::before {
    content: "---";
  }

  ul li p::before,
  ul li {
    content: "- ";
  }
</style>

<AdventOfCodeLayout year={2022} title={`2022 - ${content.title}`}>
  <h2>{content.title}</h2>
  <slot />
</AdventOfCodeLayout>
