---
import AdventOfCodeLayout from "@layouts/AdventOfCodeLayout.astro";
const { content, frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate);
const year = date.getFullYear();
---

<style is:global>
  h2 {
    text-align: center;
  }

  pre {
    padding: 1rem;
  }

  hr {
    border: none;
    margin: 1rem 0;
  }

  hr::before {
    content: "---";
  }

  ul li p::before,
  ul li {
    content: "- ";
  }

  .small-image {
    height: 10rem;
  }

  .shake {
    font-size: 2rem;
  }
</style>

<AdventOfCodeLayout year={year} title={`${year} ${content.title}`}>
  <h2>{content.title}</h2>
  <slot />
</AdventOfCodeLayout>
