---
import Feed from "@components/Feed.astro";
import Layout, { Props as LayoutProps } from "@layouts/Layout.astro";

export interface Props extends LayoutProps {}

const { title } = Astro.props as Props;
---

<style is:global>
  :root {
    font-size: 22px;
    color-scheme: only light;
  }

  header a {
    color: black;
  }

  body {
    padding: 0 1rem 2rem 1rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header img {
    filter: grayscale(0.9);
    transition: filter 0.2s;
  }

  header img:hover {
    filter: grayscale(0.4);
  }

  header,
  main {
    margin: 0 auto;
    max-width: 50ch;
  }

  ul,
  ol {
    padding-left: 0;
  }

  blockquote {
    margin: 0;
    padding: 0;
    padding-left: 0.75rem;
    font-style: italic;
    border-left: 0.25rem solid #ccc;
  }

  * {
    font-family:
      Iowan Old Style,
      Apple Garamond,
      Baskerville,
      Times New Roman,
      Droid Serif,
      Times,
      Source Serif Pro,
      serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol;
  }
</style>

<Layout title={title}>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
    slot="head"
  />
  <header>
    <a href={`${Astro.site}babble-bin`}>
      <h1>babble bin</h1>
    </a>
    <a href={`${Astro.site}babble-bin/rss.xml`}>
      <Feed />
    </a>
  </header>
  <main>
    <slot />
  </main>
</Layout>
