---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<style is:global>
  * {
    box-sizing: border-box;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/~jaharrhy/favicon.png" />
    <slot name="head" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
