---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<style is:global>
  * {
    box-sizing: border-box;
  }

  @font-face {
    font-family: "TT2020Style-B";
    src: url("/~jaharrhy/fonts/TT2020StyleB-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "QuickMoney";
    src: url("/~jaharrhy/fonts/QuickMoney.woff2") format("woff2");
  }

  @font-face {
    font-family: "Doom";
    src: url("/~jaharrhy/fonts/RVn_Font_of_Doom_1.woff2") format("woff2");
  }

  @font-face {
    font-family: "TimesNewBastard";
    src: url("/~jaharrhy/fonts/TimesNewBastard-RegularWeb.woff") format("woff");
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/~jaharrhy/favicon.png" />
    <slot name="head" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
