---
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
---

<style>
  body {
    background-color: black;
  }

  main {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    font-family: monospace;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
</style>

<Layout title="gamedev">
  <Back />
  <main>
    <img
      src="http://textfiles.com/underconstruction/totomwp4underconstruction.gif"
    />
    <a href="./jams/">jams</a>
  </main>
</Layout>
